
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
.nav-link {
  @apply relative inline-block ;
}


@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-outfit: "Outfit", sans-serif;
}


.nav-link::after{
  content: '';
  @apply absolute left-0 bottom-0 w-full h-[1.5px] bg-blue-500 scale-x-0 origin-left transition-transform duration-300 ease-in-out;
}

.nav-link:hover::after {
  @apply scale-x-100;
}

.active-link{
  @apply   border-b-2 border-blue-500;
}




html{
 
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}

/* Pause animation on hover */
.slider:hover .animate-scroll {
  animation-play-state: paused;
}





/* Dark Theme */
.dark{
  --bg-color: #0f172a;
  --text-color: white;
  /* --card-color: #1e293b; */
}

/* Apply globally */
body {

  background-color: var(--bg-color);
  color: var(--text-color);

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}